# OS files
Thumbs.db
Desktop.ini

# Temporary and download cache
repo.zip
tmp-immortalwrt/

# Build outputs
artifacts/
ib/
bin/
build/

# Image Builder packages and images
*.tar.*
*.img*
*.bin

# IDE
.vscode/
